/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
	text-align: center;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/


.zena{

	border:1px solid rgb(184, 184, 184);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}



.foto img {
	border-radius: 50%;
}

@media screen and (min-width: 540px){
	.kontakty{
		display: flex;
		flex-wrap: wrap;
	}

	.zena{
		display: flex;
		flex: 50%;
		flex-basis: 25%;
	}

	.foto {
	
		flex: 30%;
	}

	.popis {
		display:flex;
		flex: 50%;
		display: block;
	}
}

@media screen and (min-width: 840px){
	
	.kontakty{
		flex: 1 1 calc(100% / 4);
		flex-wrap: nowrap;
	}

	.zena{
		display: block;
		text-align: center;
	}

	.foto {
		flex: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.popis {
		display: block;

	}


}